nav {
	width: 100%;
	height: auto;

	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 4;
}

.nav-div {
	width: 80%;
	height: auto;
	padding: 26px 0;

	color: white;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-div > button {
	display: none;
}

.nav-div > strong {
	font-size: 26px;
}

.nav-div > strong:hover {
	cursor: pointer;
}

.link-section > span {
	margin: 5px;
	font-size: 12px;

	padding: 5px 10px;

	border: 1px solid #fff;
	border-radius: 0.2rem;
}

.link-section > span:hover {
	cursor: pointer;
	background-color: white;
	color: #9aebfb;
}

@media only screen and (max-width: 620px) {
	nav {
		background-color: #121212;
		position: fixed;
	}

	.nav-div > button {
		display: block;
	}

	.link-section {
		display: none;
	}
}
