.alert-div {
	width: 100%;
	height: auto;

	position: fixed;
	top: 20px;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;
}

.alert-div > div {
	display: none;
	box-shadow: 0 0 6px #ccc;
	padding: 8px 12px;
	background-color: aliceblue;
	border-radius: 0.2rem;
}

.alert-div > div > p {
	margin: 0;
}
